.note-container {
  border: solid;
  width: 20vw;
  height: 40vh;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.note-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.note-content {
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.note-content > p {
  word-break: break-all;
  overflow: scroll;
}
p::-webkit-scrollbar {
  scrollbar-width: none;
}
.edit-button {
  background-color: #323232;
  color: white;
}
.delete-button {
  background-color: #323232;
}
